{{#each this}}
<div class="photo-card">
  <img src="" alt="" loading="lazy" />
  <div class="info">
    <p class="info-item">
      <b>Likes</b>
    </p>
    <p class="info-item">
      <b>Views</b>
    </p>
    <p class="info-item">
      <b>Comments</b>
    </p>
    <p class="info-item">
      <b>Downloads</b>
    </p>
  </div>
</div>
     {{!-- <div class="card-img-top">
    <p class="country-list-item"><img src="{{flag}}" alt="{{name.official}}" width=45 height=30> {{name}}</p>
    </div> --}}
{{/each}}